<button (click)="initNewCharacter()">Create New Character</button>
<table>
  <thead>
    <th>Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Job Title</th>
    <th>Company</th>
  </thead>
  <tbody>
    <tr *ngFor="let character of characters">
      <td>{{ character.name }}</td>
      <td>{{ character.firstName }}</td>
      <td>{{ character.lastName }}</td>
      <td>{{ character.jobTitle }}</td>
      <td>{{ character.company }}</td>
      <td><button (click)="editCharacter(character)">Edit</button></td>
    </tr>
  </tbody>
</table>

<app-edit-character [character]="characterToEdit"></app-edit-character>
